<div id = "channel-main-container">
  <div id = "left-container">
    <div id = "group-container">
      <h1>My Group</h1>
      <% current_user.chatrooms.each do |chatroom|%>
        <p><%= link_to chatroom.name, chatroom_path(chatroom)%>
      <% end %>
    </div>
    <div id = "post-container">
      <%= link_to chatroom_chatroomposts_path(params[:id]) do %>
        <p><i class="fa fa-plus" aria-hidden="true"></i>New Post</p>
      <% end %>
    </div>
  </div>

  <div id = "right-container">
    <p>
      <%= @chatroom.name %>
    </p>
    <%= content_tag :div, :id => "message-board", 'data-value' => @chatroom.id do %>
	    <% @chatroom.messages.each do |message| %>
	      <div class = "every-post"><strong><%= message.user.username %> : </strong><%= sanitize message.body%></div>
	    <% end %>
    <% end %>

    <div id = "new-message">
      <%= form_for [@chatroom, Message.new], remote: true do |f| %>
        <div id = "message-input">
          <%= f.text_field :body %>
        </div>
        <div id = "chatroom-submit">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>



