#background-container
  - unless current_user.background.blank?
    = image_tag src = current_user.background_url(:arm), :id => "background"
  - else
    = image_tag src = asset_path("defaultbackgroundimage.jpeg"), :id => "background"
#background-comment
  %i.fa.fa-camera#background-camera

  
- unless current_user.image.blank?
  #image-frame
    #image-container
      = image_tag src = current_user.image_url(:thumb), :id => "selfie"
    #image-comment
      %i.fa.fa-camera#selfie-camera
- else
  #image-frame
    #image-container
      = image_tag src = asset_path("user-image.png"), :id => "selfie"
    #image-comment
      %i.fa.fa-camera#selfie-camera
#second-navbar
  %ul
    %li.right-first
      = link_to '个人信息', profiles_path
    %li
      = link_to '生活'
    %li
      = link_to '日志'
    %li
      = link_to '发言记录'
%div.modal#add
  %div.modal-container
    %h2 上传图片
    #photo-form-div
      = form_for @user, :url => homes_path(@user), :method => :post do |f|
        %p
          = f.file_field :image, :id => "file"
        %p
          = f.submit "Save Your Image", :id => "save-button"
    = link_to "close", "#", :id => "close-link"
    
