#background-container
  - unless current_user.background.blank?
    = image_tag src = current_user.background_url(:arm), :id => "background"
  - else
    = image_tag src = "https://i.ytimg.com/vi/oeFAKFJQzek/maxresdefault.jpg", :id => "background"
  #background-slogan
    %p#title
      Bubbles
    %p#slogan
      Explore and find the community you will dedicate to 
  #image-frame
    - unless current_user.image.blank?
      #image-container
        = image_tag src = current_user.image_url(:thumb), :id => "selfie"
    - else
      #image-container
        = image_tag src = asset_path("user-image.png"), :id => "selfie"
    #image-cammera
      %i.fa.fa-camera#selfie-camera
#sub-navbar
.introduction-title
  %h1
    About Me (
    = current_user.username
    )  
    = link_to ("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>").html_safe, new_home_path, :remote => true, :class => "link_to_group"

#self-introduction
  %p
    - if current_user.introduction
      = current_user.introduction
    - else
      Give a brief introduction about yourself.

#my-group
  .introduction-title
    %h1
      My Group
      = link_to ("<i class='fa fa-plus' aria-hidden='true'></i>/<i class='fa fa-universal-access' aria-hidden='true'></i>").html_safe, chatrooms_path, :class => "link_to_group"
  - if current_user.chatrooms.empty?
    %p
      You haven't joined any group yet.
  - else
    #all-my-group
      - current_user.chatrooms.each do |chatroom|
        = link_to chatroom_path(chatroom) do
          .each-group
            .each-group-img
              = image_tag src = "http://all4desktop.com/data_images/original/4246314-bubble.jpg"
            .each-group-name
              = chatroom.name

%footer
  .introduction-title
    %h1
      About Us Information

/ %div.modal#add
/   %div.modal-container
/     %h2 上传图片
/     #photo-form-div
/       = form_for @user, :url => homes_path(@user), :method => :post do |f|
/         %p
/           = f.file_field :image, :id => "file"
/         %p
/           = f.submit "Save Your Image", :id => "save-button"
/     = link_to "close", "#", :id => "close-link"