#background-container
  - unless current_user.background.blank?
    = image_tag src = current_user.background_url(:arm), :id => "background"
  - else
    = image_tag src = "http://wallpapercave.com/wp/DtslnrT.jpg", :id => "background"
  #background-slogan
    %p#title
      Bubbles
    %p#slogan
      Explore and find the community you will dedicate to 
  #image-frame
    - unless current_user.image.blank?
      #image-container
        = image_tag src = current_user.image_url(:thumb), :id => "selfie"
    - else
      #image-container
        = image_tag src = asset_path("user-image.png"), :id => "selfie"
    #image-cammera
      %i.fa.fa-camera#selfie-camera
#sub-navbar
.introduction-title
  %h1
    About Me

#self-introduction
  %p
    I am an applied math major graduate from UC Berkeley.

#my-group
  .introduction-title
    %h1
      My Group
  #all-my-group
    - current_user.chatrooms.each do |chatroom|
      = link_to chatroom_path(chatroom) do
        .each-group
          .each-group-img
            = image_tag src = "http://res.freestockphotos.biz/pictures/9/9367-a-human-skull-on-a-black-background-pv.jpg"
          .each-group-name
            = chatroom.name

%footer
  .introduction-title
    %h1
      About Us Information

/ %div.modal#add
/   %div.modal-container
/     %h2 上传图片
/     #photo-form-div
/       = form_for @user, :url => homes_path(@user), :method => :post do |f|
/         %p
/           = f.file_field :image, :id => "file"
/         %p
/           = f.submit "Save Your Image", :id => "save-button"
/     = link_to "close", "#", :id => "close-link"